
/* .card{
  background-color: rgb(228, 228, 228);
  color:black
}  */


.dark-mode {
  background-color: rgb(71, 71, 71);
  color: white;
}
.darkk-mode {
  background-color: rgb(26, 26, 26);
  color: white;
}

.imagen-nav{background-image: url(./fotos/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
  .colorNav{
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
  padding: 2%;
}



.foto-card{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 250px;
  
}

.foto-card1{background-image: url(./fotos/dee2e630-dc78-442c-9e8a-712e19390ff3.jpeg);
}
.foto-card2{background-image: url(./fotos/WhatsApp\ Image\ 2023-09-19\ at\ 11.44.22\ PM.jpeg);
}
.foto-card3{background-image: url(./fotos/39229f01-33cb-49b5-b491-c49692be7412.jpeg);
}
.foto-card4{background-image: url(./fotos/Captura\ de\ pantalla\ 2023-09-24\ 183524.png);}
.foto-card5{background-image: url(./fotos/logo-tateti.jfif);}
.foto-card6{background-image: url(./fotos/tetrisgt.png);}
.foto-card7{background-image: url(./fotos/adivina.jfif);}
.foto-card88{background-image: url(./fotos/image-removebg-preview.png);}
.rating {
    display: inline-block;
}
.rating input {
    display: none;
}
.rating label {
  font-size: 300%;
  float: right;
  color: #ccc;
}
.rating label:before {
  content: '\2605'; 
}
.rating input:checked ~ label {
  color: #ffbf00; 
}
.borde-boton {
    width: 100px;
    height: 41px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 10px;
    
}
.boton-modos {
  width: 40%;
  height: 100%;
  border-radius: 20px;
  background-image: url(./fotos/png-clipart-sun-sun.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.3s 
}

.boton-modos.active {
  background-image: url(./fotos/png-transparent-moon-illustration-full-moon-moon-atmosphere-monochrome-sphere.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateX(140%);
}
.margen-derecha{padding-right: 10px;}
.subirArchivo{width: 250px;
margin-left: 10%;}
.transp{border: 0px;
background-color: rgba(255, 255, 255, 0);}
.foto-card{justify-content: center;}
.boton-centro{padding: 42%;
height: 100%;
width: 100%;
} 
.footer-push {
  height: 60px; /* Ajusta según el tamaño de tu footer */
}
footer {
  text-align: center;
  padding: 10px;
}














