.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    width: 320px;
    align-content: center;
    margin: 0 auto;

}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    border: 4px solid #ccc;
}


.message {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(#0000);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 24px;
    z-index: 100;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /*background-color: #f0f0f0;*/
    background-image: url(/imagenes/pastel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}